.product__card--button{
   background-color: var(--secondary);
   border: none;
    &:hover{
        background-color: var(--secondary--darken);
    }
   
}

.product__card--button:focus{
    background-color: var(--secondary--darken);
}

.card{
    background-color: var(--primary);
}
