a {
  text-decoration: none;
  color: white;
}
.navbar-text {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 22px;
}

.navbar-text > a:hover {
  color: var(--primary) !important;
}

.logo {
  width: 120px;
}

.navbar {
  background-color: var(--accent-darken);
}

.buscar:hover {
  background-color: var(--accent-darken);
}

.dropdown-toggle {
  color: white;
}

.dropdown-menu {
  background-color: var(--background);
}
.offcanvas-logo img {
  width: 120px;
}

@media (max-width: 575px) {
  .offcanvas-body_color {
    background-color: var(--background);
  }
}
