:root {
  --text: #ebe9fc;
  --background: #1C0A00;
  --primary: #361500;
  --secondary: #603601;
  --secondary--darken: #573001;
  --accent: #CC9544;
  --accent-darken:#a57938;
}

body{
  background-color: var(--background);
  color: var(--text);
}